<a href="https://colab.research.google.com/github/Bankx/Data-Journey/blob/main/Spiritual_Ginger.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  ######Question 1#####
  def quest(name, age):
    print(name, age)

quest("Peter", "23")

Peter 23

In [ ]:
###Question 2#####
def func1(*args):
    for a in args:
     print (a)

func1(20, 30, 50)
func1(90, 100)

20
30
50
90
100

In [ ]:
###Question 3####
def calculation(a,b):
   m = a+b
   n = a-b
   print (m,n)

calculation(10,59)

69 -49

In [ ]:
### Question 4 ########
def showemployee(name,salary= 9000):
  
  print("Employee", name , "salary is ",salary )


showemployee("sam", 9000)
showemployee('sam')

Employee sam salary is  9000
Employee sam salary is  9000

In [ ]:
#### Question 5#####
def add(a, b):
  #inner  function
  def sum(a, b):
    return a+b
  m = sum(a,b)
  print(m+5)

add(10,5)

20

In [ ]:
### Question 6######
def boobs(m):
    if m == 0 :
        return 0
    elif m==1:
         return 1
    else:
      return boobs(m-1) + boobs(m-2)

      
      
boobs(10)

55

In [ ]:
######  QUESTION 7#####
def youtube (title, min):
    print(title, min)
Showtube = youtube
Showtube("Franlin's Ghost", "120")

Franlin's Ghost 120

In [ ]:
#### Question 8####
m= [4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
x=m[0::2]
print (x)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
##### Question 9#####
M=[10, 20,5,30,40,30 ]
max(M)

40